h1 {
    color: #ffffff;
    margin-bottom: 20px;
    background-color: #000000;
    text-align: center;
}

div {
    column-count: 3;
}

p {
    margin-top: 20px;
    line-height: 22px;
    font-size: 20px;
    width: 200px;
}

ul {
    border: 3px solid brown;
    padding: 16px 0 0 0;
    background-color: lightblue;
}